@charset "UTF-8";

.on-sp {
  display: none;
}



@media screen and (max-width: 375px) {
  .on-pc {
    display: none;
  }

  .on-sp {
    display: block;
  }

  .inner {
    width: 100%;
  }

  .section-header {
    width: 100%;
  }

  .box-middle {
    margin: 0;
  }

  .header-top .inner {
    display: table;
  }

  .keyword {
    display: table-cell;
    vertical-align: middle;
    width: 75%;
    text-align: left;
    padding: 6px;
  }

  .nav-btn {
    display: table-cell;
  }

  .sp-menu-top {
    text-align: right;
  }

  .sp-menu-top button {
    width: 100px;
  }

  .sp-menu {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #fff;
    z-index: 100;
  }

  .sp-menu .nav li {
    float: left;
    width: 28.666%;
    margin-left: 0;
    margin-bottom: 30px;
  }

  .sp-menu .nav li:nth-child(3n) {
    margin-right: 5%;
    margin-left: 5%;
  }

  .sp-menu .nav li:first-child {
    float: none;
    margin: 0 auto 30px;
  }

  .sp-menu .nav li a {
    display: block;
  }

  .header-info {
    margin-left: 0;
    padding-right: 10px;
    padding-left: 10px;
  }

  .sp-menu .nav li:nth-child(3n-1) {
    margin-right: 2%;
  }

  .sp-menu .nav li:nth-child(3n+1) {
    margin-left: 2%;
  }

  .sp-menu .nav li:nth-child(8),
  .sp-menu .nav li:nth-child(9) {
    margin-top: 15px;
  }

  /*.active {
    display: block;
  }*/
/*
  .sp-menuBtn {
    float: right;
  }

  .sp-menuBtn img {
    width: 100px;
  }

  .sp-menuLogo {
    text-align: center;
  }

  .sp-menuLogo img {
    width: 120px;
    height: 40px;
  }*/

}
